{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gpt-search.scss') }}
{% endblock %}

{% block body %}
<div class="container p-3">
    <form class="gpt-search-form" action="/gpt/search" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
        <div class="row pb-2">
            <div class="col">
                <div class="form-group">
                    <label for="gpt_api_key">API Key:</label>
                    <input type="text" required value="" class="form-control" id="gpt_api_key" name="gpt_api_key">
                </div>
            </div>
            <div class="col account-id-group">
                <div class="form-group">
                    <label for="account_id">Account ID:</label>
                    <input type="text" required value="" class="form-control" id="account_id" name="account_id">
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col">
                <div class="col-lg">
                    <label for="gpt_service">GPT Service:</label>
                    <select class="form-control" id="gpt_service" name="gpt_service">
                        {% for aiService in aiServices %}
                            <option value="{{ aiService }}" {{ (searchOption.gptService == aiService) ? 'selected' : '' }}>{{ aiService }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <label for="question">Question:</label>
            <div class="input-group input-group-lg">
                <input type="text" required value="" class="form-control question" id="question" name="question" autocomplete="off">
                <button type="button" class="btn btn-outline-primary mx-2" data-bs-toggle="modal" data-bs-target="#options-modal">Options</button>
                <button class="btn btn-primary search">Search</button>
            </div>
        </div>
        <div class="row pb-3">
            <div class="form-group">
                <div class="gpt_response_wrapper overflow-x-hidden">
                    <label for="response">GPT Response:</label>
                    <div id="response" class="response border rounded overflow-auto overflow-x-hidden flex-grow-1 mh-100 p-2" style="height: 500px;"></div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-primary btn-lg clear_response" id="clear_response" name="clear_response" type="button">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form class="gpt-option-form" action="/gpt/search/option/save" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
        <div class="modal fade" id="options-modal" tabindex="-1" aria-labelledby="options-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="options-modal-label">Options</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="embedding-group mb-3">
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <label for="gpt_embedding_model">Embedding Model:</label>
                                    <select class="form-control" id="openai_gpt_embedding_model" name="gpt_embedding_model">
                                        {% for openaiEmbeddingsModel in openaiEmbeddingsModels%}
                                            <option value="{{ openaiEmbeddingsModel }}" {{ (searchOption.embeddingModel == openaiEmbeddingsModel) ? 'selected' : '' }}>{{ openaiEmbeddingsModel }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" id="cloudflare_gpt_embedding_model" name="gpt_embedding_model">
                                        {% for cloudflareEmbeddingsModel in cloudflareEmbeddingsModels%}
                                            <option value="{{ cloudflareEmbeddingsModel }}" {{ (searchOption.embeddingModel == cloudflareEmbeddingsModel) ? 'selected' : '' }}>{{ cloudflareEmbeddingsModel }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" id="bge_gpt_embedding_model" name="gpt_embedding_model">
                                        {% for bgeEmbeddingsModel in bgeEmbeddingsModels%}
                                            <option value="{{ bgeEmbeddingsModel }}" {{ (searchOption.embeddingModel == bgeEmbeddingsModel) ? 'selected' : '' }}>{{ bgeEmbeddingsModel }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2 cloudflare-index-group">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="cloudflare-index">Cloudflare Index:</label>
                                        <select class="form-control" id="cloudflare-index" name="index">
                                            {% for cloudflareIndex in cloudflareIndexes %}
                                                <option value="{{ cloudflareIndex.name }}" {{ (searchOption.cloudflareIndex is not null and searchOption.cloudflareIndex.id == cloudflareIndex.id) ? 'selected' : '' }}>{{ cloudflareIndex.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 opensearch-index-group">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="openSearch-index">OpenSearch Index:</label>
                                        <select class="form-control" id="openSearch-index" name="index">
                                            {% for openSearchIndex in openSearchIndexes %}
                                                <option value="{{ openSearchIndex.name }}" {{ (searchOption.openSearchIndex is not null and searchOption.openSearchIndex.id == openSearchIndex.id) ? 'selected' : '' }}>{{ openSearchIndex.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="vector_search_result_count">Vector search result count:</label>
                                        <input type="text" value="{{ searchOption.vectorSearchResultCount }}" class="form-control" id="vector_search_result_count" name="vector_search_result_count">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="vector_search_distance_limit">Vector search distance limit:</label>
                                        <input type="text" value="{{ searchOption.vectorSearchDistanceLimit }}" class="form-control" id="vector_search_distance_limit" name="vector_search_distance_limit">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 min-score-group">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="min_score">Minimal Score Threshold:</label>
                                        <input type="text" value="{{ searchOption.minScore|default(0.1) }}" class="form-control" id="min_score" name="min_score">

                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 search-mode-group">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="search_mode">Search Mode:</label>
                                        <select class="form-control" id="search_mode" name="search_mode">
                                            <option value="knn" {{ (searchOption.searchMode == 'knn') ? 'selected' : '' }}>k-NN</option>
                                            <option value="hybrid" {{ (searchOption.searchMode  == 'hybrid') ? 'selected' : '' }}>Hybrid</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 hybrid-mode-boost-group">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="embedding_boost">Embedding Boost:</label>
                                        <input type="text" value="{{ searchOption.embeddingBoost|default(1.0) }}" class="form-control" id="embedding_boost" name="embedding_boost">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="content_boost">Content Boost:</label>
                                        <input type="text" value="{{ searchOption.contentBoost|default(1.0) }}" class="form-control" id="content_boost" name="content_boost">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-5"></div>
                        <div class="gpt-group">
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <label for="gpt_model">GPT Model:</label>
                                    <select class="form-control" id="openai_gpt_model" name="gpt_model">
                                        {% for openaiGptModel in openaiGptModels%}
                                            <option value="{{ openaiGptModel }}" {{ (searchOption.chatModel == openaiGptModel) ? 'selected' : '' }}>{{ openaiGptModel }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" id="cloudflare_gpt_model" name="gpt_model">
                                        {% for cloudflareGptModel in cloudflareGptModels%}
                                            <option value="{{ cloudflareGptModel }}" {{ (searchOption.chatModel == cloudflareGptModel) ? 'selected' : '' }}>{{ cloudflareGptModel }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="gpt_max_tokens">Max Tokens:</label>
                                        <input type="text" value="{{ searchOption.maxTokens }}" class="form-control" id="gpt_max_tokens" name="gpt_max_tokens">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="gpt_temperature">Temperature:</label>
                                        <input type="text" value="{{ searchOption.temperature }}" class="form-control" id="gpt_temperature" name="gpt_temperature">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="gpt_frequency_penalty">Frequency Penalty:</label>
                                        <input type="text" value="{{ searchOption.frequencyPenalty }}" class="form-control" id="gpt_frequency_penalty" name="gpt_frequency_penalty">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="gpt_presence_penalty">Presence Penalty:</label>
                                        <input type="text" value="{{ searchOption.presencePenalty }}" class="form-control" id="gpt_presence_penalty" name="gpt_presence_penalty">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg">
                                    <div class="form-group">
                                        <label for="system_message">System Message:</label>
                                        <textarea class="form-control" id="system_message" name="system_message" rows="8">{{ searchOption.systemMessage }}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="form-group">
                                        <label for="user_message_template">User Message Template:</label>
                                        <textarea class="form-control" id="user_message_template" name="user_message_template" rows="8">{{ searchOption.userMessageTemplate }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gpt-search.js') }}
{% endblock %}

