{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gpt-summarize.scss') }}
{% endblock %}

{% block body %}
<div class="container p-3">
    <form class="gpt-summarize-form" action="/gpt/summarize" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
        <div class="row pb-3">
            <div class="col">
                <div class="form-group">
                    <label for="gpt_api_key">API Key:</label>
                    <input type="text" required value="" class="form-control" id="gpt_api_key" name="gpt_api_key">
                </div>
            </div>
            <div class="col">
                <div class="col-lg">
                    <label for="gpt_service">GPT Service:</label>
                    <select class="form-control" id="gpt_service" name="gpt_service">
                        <option value="openai">OpenAI</option>
                        <option value="yandex-gpt" disabled>Yandex GPT</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="form-group">
                <div class="messages-wrapper overflow-x-hidden">
                    <label for="messages">Messages: </label>
                    <div id="messages" class="messages border rounded overflow-auto overflow-x-hidden flex-grow-1 mh-100 p-2">
                        {% for message in messages %}
                            {% if message.messageType == 'reply_ai' %}
                                {% set alertClass, messageType = 'alert-warning', 'AI' %}
                            {% elseif message.messageType == 'reply_staff' %}
                                {% set alertClass, messageType = 'alert-success', 'Staff' %}
                            {% else %}
                                {% set alertClass, messageType = 'alert-primary', 'User' %}
                            {% endif %}
                            <div class="message alert {{ alertClass }}" role="alert">
                                <p><input type="checkbox" class="form-check-input me-3 select-message" name="messages[]" value="{{ message.Id }}"><b>{{ message.sentAt|date("F jS, Y | g:ia") }}</b> <b>{{ messageType }}</b></p>
                                <p></p>
                                <p class="m-0 text-break">{{ message.content|nl2br }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row mt-3">
                        <div class="col d-grid gap-2">
                            <button class="btn btn-success summarize">Summarize</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#add-message-modal">Add Messages</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#options-modal">Options</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-messages-modal">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <form class="gpt-option-form" action="/gpt/summarize/option/save" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
        <div class="modal fade" id="options-modal" tabindex="-1" aria-labelledby="options-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="options-modal-label">Options</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-body">
                            <div class="gpt-group">
                                <div class="row mb-2">
                                    <div class="col-sm">
                                        {#
                                        <label for="gpt_model">GPT Completion Model:</label>
                                        <select class="form-control" id="gpt_model" name="gpt_model">
                                            <option value="gpt-3.5-turbo-instruct" {{ (summarizeOption.model == 'gpt-3.5-turbo-instruct') ? 'selected' : '' }}>gpt-3.5-turbo-instruct</option>
                                        </select>
                                        #}
                                        <label for="gpt_model">GPT Model:</label>
                                        <select class="form-control" id="gpt_model" name="gpt_model">
                                            <option value="gpt-3.5-turbo" {{ (summarizeOption.model == 'gpt-3.5-turbo') ? 'selected' : '' }}>gpt-3.5-turbo</option>
                                            <option value="gpt-4" {{ (summarizeOption.model == 'gpt-4') ? 'selected' : '' }}>gpt-4</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="gpt_temperature">Temperature:</label>
                                            <input type="text" value="{{ summarizeOption.temperature }}" class="form-control" id="gpt_temperature" name="gpt_temperature">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="gpt_max_tokens">Max Tokens:</label>
                                            <input type="text" value="{{ summarizeOption.maxTokens }}" class="form-control" id="gpt_max_tokens" name="gpt_max_tokens">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="gpt_token_limit">Prompt Token Limit:</label>
                                            <input type="text" value="{{ summarizeOption.promptTokenLimit }}" class="form-control" id="gpt_token_limit" name="gpt_token_limit">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="gpt_frequency_penalty">Frequency Penalty:</label>
                                            <input type="text" value="{{ summarizeOption.frequencyPenalty }}" class="form-control" id="gpt_frequency_penalty" name="gpt_frequency_penalty">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="gpt_presence_penalty">Presence Penalty:</label>
                                            <input type="text" value="{{ summarizeOption.presencePenalty }}" class="form-control" id="gpt_presence_penalty" name="gpt_presence_penalty">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-group">
                                <div class="row mb-2">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label for="system_message">System Message:</label>
                                            <textarea class="form-control" id="system_message" name="system_message" rows="1" disabled>{{ summarizeOption.systemMessage }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group">
                                        <label for="main_prompt_entry_template">Main Prompt Template:</label>
                                        <textarea class="form-control" id="main_prompt_template" name="main_prompt_template" rows="6">{{ summarizeOption.mainPromptTemplate }}</textarea>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label for="chunk_summarize_prompt_template">Chunk Summarize Prompt Template:</label>
                                            <textarea class="form-control" id="chunk_summarize_prompt_template" name="chunk_summarize_prompt_template" rows="6">{{ summarizeOption.chunkSummarizePromptTemplate }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label for="summaries_summarize_prompt_template">Summaries Summarize Prompt Template:</label>
                                            <textarea class="form-control" id="summaries_summarize_prompt_template" name="summaries_summarize_prompt_template" rows="6">{{ summarizeOption.summariesSummarizePromptTemplate }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="add-message-modal" tabindex="-1" aria-labelledby="add-message-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="upload-messages-modal-label">Add Messages</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="upload-messages-form" action="/messages/upload" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
                        <div class="row mt-3">
                            <label for="messages">Upload Messages</label>
                            <div class="input-group input-group-lg">
                                <input required type="file" class="form-control" id="messages" name="messages[]" multiple>
                                <button class="btn btn-primary upload-messages">Upload Messages</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body">
                    <form class="add-message-form" action="/messages" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
                        <div class="row">
                            <div class="col">
                                <label for="message_type">Message Type:</label>
                                <select required class="form-control" id="message_type" name="message_type">
                                    <option value="reply_user">User</option>
                                    <option value="reply_staff">Staff</option>
                                    <option value="reply_ai">AI</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="id">User or Staff ID:</label>
                                    <input type="text" value="0" class="form-control" id="id" name="id">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group">
                                <textarea required class="form-control" id="content" name="content" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-primary add-message">Add Message</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-messages-modal" tabindex="-1" aria-labelledby="delete-messages-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-messages-modal-label">Delete Messages</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="m-0">Delete selected Messages?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form class="delete-selected-messages-form" action="/messages/selected" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
                        <button class="btn btn-danger">Delete selected</button>
                    </form>
                    <form class="delete-all-messages-form" action="/messages/all" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
                        <button class="btn btn-danger">Delete all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gpt-summarize.js') }}
{% endblock %}

