{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container p-3">
        <div class="row mb-3">
            <form method="get">
                <label for="cloudflare-index">Cloudflare Index:</label>
                <select id="cloudflare-index" name="cloudflareIndex" class="form-control" onchange="this.form.submit()">
                    <option></option>
                    {% for cloudflareIndex in cloudflareIndexes %}
                        <option value="{{ cloudflareIndex.name }}" {{ app.request.get('cloudflareIndex') == cloudflareIndex.name ? 'selected' : '' }}>{{ cloudflareIndex.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="row mb-3">
            <form method="get">
                <label for="openSearch-index">OpenSearch Index:</label>
                <select id="openSearch-index" name="openSearchIndex" class="form-control" onchange="this.form.submit()">
                    <option></option>
                    {% for openSearchIndex in openSearchIndexes %}
                        <option value="{{ openSearchIndex.name }}" {{ app.request.get('openSearchIndex') == openSearchIndex.name ? 'selected' : '' }}>{{ openSearchIndex.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Active</th>
                    <th scope="col">Vectorized</th>
                    <th scope="col">Cloudflare Vector</th>
                    <th scope="col">OpenSearch Vector</th>
                    <th scope="col">External ID</th>
                    <th scope="col">Category</th>
                    <th scope="col">Section</th>
                    <th scope="col">Article Title</th>
                </tr>
                </thead>
                <tbody>
                {% for article in paginator %}
                    <tr>
                        <td>
                            {% if(article.active) %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>
                            {% endif %}
                        </td>
                        <td>
                            {% if redisSearcher.exists([constant('App\\Service\\VectorSearch\\RedisSearcher::ROOT'), constant('App\\Service\\VectorSearch\\RedisSearcher::DELIMITER'), 'articles', constant('App\\Service\\VectorSearch\\RedisSearcher::DELIMITER'), article.Id]|join) %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>
                            {% endif %}
                        </td>
                        <td>
                            {% set cloudflareIndex = app.request.get('cloudflareIndex') %}
                            {% set totalParagraphs = article.paragraphs|length %}
                            {% set matchedParagraphs = article.paragraphs|filter(paragraph =>
                                paragraph.cloudflareVectors|filter(vector => vector.cloudflareIndex.name == cloudflareIndex)|length > 0
                                )|length %}

                            {% if totalParagraphs > 0 and matchedParagraphs == totalParagraphs %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% elseif matchedParagraphs > 0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="yellow" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>
                            {% endif %}
                        </td>
                        <td>
                            {% set openSearchIndex = app.request.get('openSearchIndex') %}
                            {% set totalParagraphs = article.paragraphs|length %}
                            {% set matchedParagraphs = article.paragraphs|filter(paragraph =>
                                paragraph.openSearchVectors|filter(vector => vector.openSearchIndex.name == openSearchIndex)|length > 0
                                )|length %}

                            {% if totalParagraphs > 0 and matchedParagraphs == totalParagraphs %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% elseif matchedParagraphs > 0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="yellow" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>
                            {% endif %}
                        </td>
                        <td>{{ article.externalId }}</td>
                        <td>{{ article.section.category.categoryTitle|default('') }}</td>
                        <td>{{ article.section.sectionTitle|default('') }}</td>
                        <td><a class="link-primary" href="{{ url('knowledgebase_article', {article: article.Id}|merge(app.request.query.all)) }}">{{ article.articleTitle }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% set _currentRoute = app.request.attributes.get('_route') %}
        {% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

        {% if lastPage > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item{{ page <= 1 ? ' disabled' : '' }}">
                        <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: page - 1})) }}" aria-label="Prev">
                            &laquo; Prev
                        </a>
                    </li>
                    {% for i in 1..lastPage %}
                        <li class="page-item {% if i == page %}active{% endif %}">
                            <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: i})) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {{ page >= lastPage ? ' disabled' : '' }}">
                        <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: page + 1})) }}" aria-label="Next">
                            Next &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

